@import 'components';

//  <-------- HEADER ------->  //

#header{
    display:grid;
    .header__nav, .header__title{
        position: absolute;
    }
    .header__nav{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .icon-menu{
            color: var(--white);
            font-size: 1.699rem;
        }
        ul{
            list-style: none;
            text-align: center;
            color: var(--veryDarkGrayishBlue);
            position: absolute;
            background-color: var(--white);
            width: 91%;
            z-index: 1;
            left: 0;
            top: 85px;
            margin: 0rem 1rem;
            flex-direction: column;
            align-items: flex-end;
            li{
                margin:1.5rem auto;
            }
        }
        ul::before{
            content: "";
            width: 0;
            height: 0;
            border-bottom: 20px solid var(--white);
            border-left: 20px solid transparent;
            position: absolute;
            top: -20px;
        }
    .header__logo{
        margin-top: 0.1rem;
    }
    }
    .header__title{
        width: 100%;
        text-align: center;
        font: normal normal 700 var(--titleFontSize) var(--frauces);
        color:var(--white);
        text-transform: uppercase;
        letter-spacing: .3rem;
        top: 18%;
    }
    .header__title::after{
        content: "";
        position: absolute;
        margin-top: calc(25% + var(--valueCalc));
        left: 0px;
        width: 100%;
        height: var(--arrowHeight);
        background: url(/images/icon-arrow-down.svg) top center/var(--arrowSize) no-repeat;
    }
}

//  <-------- MAIN-SECTION ------->  //

#main__section{
    display: grid;
    text-align: center;
    color: var(--veryDarkGrayishBlue);
    .main__section-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 1.5rem;
    }
    .main__section-h3{
        font: normal normal 700 2rem var(--frauces);
        color:var(--veryDarkDesaturatedBlue);
    }
    .main__section-p{
        line-height: 1.8rem;
        margin: 1rem 0rem;
    }
    .main__section-btn{
        cursor: pointer;
        text-transform: uppercase;
        color:var(--veryDarkDesaturatedBlue);
        font-weight: bolder;
        position: relative;
        span{
            position: relative;
            z-index: 2;
            font: normal normal 700 18px var(--frauces);
            letter-spacing: .1rem;
        }
    }

    .yellow::after{
        content: "";
        position: absolute;
        left: -4px;
        top: 16px;
        width: 141px;
        border: 4px solid var(--yellow);
        border-radius: 4px;
        opacity: .5;
    }
    .pink:after{
        content: "";
        position: absolute;
        left: -4px;
        top: 16px;
        width: 141px;
        border: 4px solid var(--softRed);
        border-radius: 4px;
        opacity: .5;
    }

    //  <-------- MAIN-ABOUT ------->  //

.main__about-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    figure{
        display: flex;
        position: relative;
    }
    .main__about-text-container{
        position: absolute;
        .main__about-h3{
            font: normal normal 700 2rem var(--frauces);
            margin: 1rem 0;
        }
        .main__about-p{
            line-height: 1.8rem;
            padding: 1rem 1rem;
        }
    }
    .cherry{
        color:var(--darkDesaturatedCyan);
    }
    .orange{
        color:var(--darkBlue);
    }
}
}

    //  <-------- MAIN-TESTIMONIAL-CARDS ------->  //

#main__testimonial{
    margin-bottom: 4rem;
    .main__testimonial-h3{
        font: normal normal 700 18px var(--frauces);
        letter-spacing: .1rem;
        color: var(--grayishBlue);
        text-transform: uppercase;
        margin: 4rem 0rem 2rem 0rem;
        text-align: center;
    }
    .main__testimonial-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__card{
        margin: 2rem 1.1rem;
        line-height: 1.8rem;
        color: var(--veryDarkGrayishBlue);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 375px;
    }
    .main__card-p{
        margin: 1.5rem 0rem;
    }
    .main__card-name{
        color: var(--veryDarkDesaturatedBlue);
        font: normal normal 700 18px var(--frauces);
        margin-bottom: .5rem;
    }
    .main__card-position{
        color: var(--grayishBlue);
        font: normal normal 700 14px var(--frauces);
    }
    .main__card-img{
        width: 60px;
        border-radius: 100%;
}
}

    //  <-------- FOOTER ------->  //

#footer{
    background-color: var(--darkModerateCyan);
    color:var(--darkDesaturatedCyan);
    text-align: center;
    .footer__wrapper{
        display: flex;
        flex-flow: row wrap;
            .footer__wrapper-image{
                width: 50%;
            }
    }
    .footer__bottom{
        padding: 3.5rem 0;
        .footer__bottom-figure{
            img{
                width:50%;
            }
        }
        .footer__bottom-container{
            display: flex;
            justify-content: space-evenly;
            margin: 1.5rem 0rem 0rem 0rem;
        }
    }
    .footer__bottom-icons{
        padding: 3rem 0;
        i{
            margin: 0rem .5rem;
        }
    }
}

    //  <-------- MEDIA-QUERIES ------->  //

@media screen and (min-width:340px){
    .main__about-text-container{
        margin-bottom: var(--porcentMargin);
    }        
}