@import 'components';

//  <-------- HEADER ------->  //

#header{
    display:grid;
    .header__nav, .header__title{
        position: absolute;
        z-index: 1;
    }
    .header__nav{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .icon-menu{
            color: var(--white);
            font-size: 1.699rem;
        }
    .header__logo{
        margin-top: 0.1rem;
    }
    }
    .header__title{
        width: 100%;
        text-align: center;
        font: normal normal 700 var(--titleFontSize) var(--frauces);
        color:var(--white);
        text-transform: uppercase;
        letter-spacing: .3rem;
        top: 18%;
    }
    .header__title::after{
        content: "";
        position: absolute;
        margin-top: calc(25% + var(--valueCalc));
        left: 0px;
        width: 100vw;
        height: var(--arrowHeight);
        background: url(/images/icon-arrow-down.svg) top center/var(--arrowSize) no-repeat;
    }
}