@import 'components';

//  <-------- HEADER ------->  //

#header{
    display:grid;
    .header__nav, .header__title{
        position: absolute;
        z-index: 1;
    }
    .header__nav{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .icon-menu{
            color: var(--white);
            font-size: 1.699rem;
        }
    .header__logo{
        margin-top: 0.1rem;
    }
    }
    .header__title{
        width: 100%;
        text-align: center;
        font: normal normal 700 var(--titleFontSize) var(--frauces);
        color:var(--white);
        text-transform: uppercase;
        letter-spacing: .3rem;
        top: 18%;
    }
    .header__title::after{
        content: "";
        position: absolute;
        margin-top: calc(25% + var(--valueCalc));
        left: 0px;
        width: 100%;
        height: var(--arrowHeight);
        background: url(/images/icon-arrow-down.svg) top center/var(--arrowSize) no-repeat;
    }
}

//  <-------- MAIN-SECTION ------->  //

#main__section{
    display: grid;
    text-align: center;
    color: var(--veryDarkGrayishBlue);
    .main__section-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 1.5rem;
    }
    .main__section-h3{
        font: normal normal 700 2rem var(--frauces);
        color:var(--veryDarkDesaturatedBlue);
    }
    .main__section-p{
        line-height: 1.8rem;
        margin: 1rem 0rem;
    }
    .main__section-btn{
        cursor: pointer;
        text-transform: uppercase;
        color:var(--veryDarkDesaturatedBlue);
        font-weight: bolder;
        position: relative;
        span{
            position: relative;
            z-index: 2;
            font: normal normal 700 18px var(--frauces);
            letter-spacing: .1rem;
        }
    }

    .yellow::after{
        content: "";
        position: absolute;
        left: -4px;
        top: 16px;
        width: 141px;
        border: 4px solid var(--yellow);
        border-radius: 4px;
        opacity: .5;
    }
    .pink:after{
        content: "";
        position: absolute;
        left: -4px;
        top: 16px;
        width: 141px;
        border: 4px solid var(--softRed);
        border-radius: 4px;
        opacity: .5;
    }
}