:root {
  --softRed:hsl(7, 99%, 70%);
  --yellow:hsl(51, 100%, 49%);
  --darkDesaturatedCyan:hsl(167, 40%, 24%);
  --darkBlue:hsl(198, 62%, 26%);
  --darkModerateCyan:hsl(168, 34%, 41%);
  --veryDarkDesaturatedBlue:hsl(212, 27%, 19%);
  --veryDarkGrayishBlue:hsl(213, 9%, 39%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white:hsl(0, 0%, 100%);
  --barlow:'Barlow', sans-serif;
  --frauces:'Fraunces', serif;
  --bodyFontSize:18px;
  --titleFontSize:2.8rem;
  --arrowSize:20px;
  --arrowHeight:65px;
  --valueCalc:2%;
  --porcentMargin:10%;
  --hamburgerMenuPorcent:91%;
}

@media screen and (min-width: 280px) {
  :root {
    --titleFontSize:2.4rem;
    --hamburgerMenuPorcent:86%;
  }
}

@media screen and (min-width: 320px) {
  :root {
    --titleFontSize:2.8rem;
    --arrowSize:25px;
    --arrowHeight:100px;
    --valueCalc:5%;
    --hamburgerMenuPorcent: 87%;
  }
}

@media screen and (min-width: 340px) {
  :root {
    --hamburgerMenuPorcent: 88%;
  }
}

@media screen and (min-width: 375px) {
  :root {
    --titleFontSize:2.8rem;
    --arrowSize:40px;
    --arrowHeight:126px;
    --valueCalc:3%;
    --hamburgerMenuPorcent: 89%;
  }
}

@media screen and (min-width: 425px) {
  :root {
    --hamburgerMenuPorcent: 90%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--bodyFontSize) var(--barlow);
  background-color: var(--white);
}

.image__fullwithd, .image__header, .header__img {
  width: 100%;
}

#header {
  display: -ms-grid;
  display: grid;
}

#header .header__nav, #header .header__title {
  position: absolute;
}

#header .header__nav {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#header .header__nav .icon-menu {
  color: var(--white);
  font-size: 1.699rem;
  padding: .5rem;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  border-radius: 100%;
}

#header .header__nav .icon-menu:active {
  background-color: var(--yellow);
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

#header .header__nav ul {
  list-style: none;
  text-align: center;
  color: var(--veryDarkGrayishBlue);
  position: absolute;
  background-color: var(--white);
  width: var(--hamburgerMenuPorcent);
  z-index: 1;
  left: 0;
  top: 49px;
  opacity: 0;
  margin: 0rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 5px;
  border-top-right-radius: 0;
  -webkit-animation-name: animation-opener;
          animation-name: animation-opener;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#header .header__nav ul li {
  margin: 1.3rem auto;
  cursor: pointer;
}

#header .header__nav ul #header__nav-btn-contact {
  padding: 1rem 1.8rem;
  color: var(--veryDarkDesaturatedBlue);
  font: normal normal 700 18px var(--frauces);
  background-color: var(--yellow);
  text-transform: uppercase;
  border-radius: 30px;
}

#header .header__nav ul::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 20px solid var(--white);
  border-left: 20px solid transparent;
  position: absolute;
  top: -20px;
}

@-webkit-keyframes animation-opener {
  from {
    top: 49px;
    opacity: 0;
  }
  to {
    top: 85px;
    opacity: 1;
  }
}

@keyframes animation-opener {
  from {
    top: 49px;
    opacity: 0;
  }
  to {
    top: 85px;
    opacity: 1;
  }
}

#header .header__nav .header__logo {
  margin-top: 0.1rem;
}

#header .header__title {
  width: 100%;
  text-align: center;
  font: normal normal 700 var(--titleFontSize) var(--frauces);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: .3rem;
  top: 18%;
}

#header .header__title::after {
  content: "";
  position: absolute;
  margin-top: calc(25% + var(--valueCalc));
  left: 0px;
  width: 100%;
  height: var(--arrowHeight);
  background: url(/images/icon-arrow-down.svg) top center/var(--arrowSize) no-repeat;
}

#main__section {
  display: -ms-grid;
  display: grid;
  text-align: center;
  color: var(--veryDarkGrayishBlue);
}

#main__section .main__section-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1.5rem;
}

#main__section .main__section-h3 {
  font: normal normal 700 2rem var(--frauces);
  color: var(--veryDarkDesaturatedBlue);
}

#main__section .main__section-p {
  line-height: 1.8rem;
  margin: 1rem 0rem;
}

#main__section .main__section-btn {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--veryDarkDesaturatedBlue);
  font-weight: bolder;
  position: relative;
}

#main__section .main__section-btn span {
  position: relative;
  z-index: 2;
  font: normal normal 700 18px var(--frauces);
  letter-spacing: .1rem;
}

#main__section .yellow::after {
  content: "";
  position: absolute;
  left: -4px;
  top: 16px;
  width: 141px;
  border: 4px solid var(--yellow);
  border-radius: 4px;
  opacity: .5;
}

#main__section .pink:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 16px;
  width: 141px;
  border: 4px solid var(--softRed);
  border-radius: 4px;
  opacity: .5;
}

#main__section .main__about-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main__section .main__about-article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#main__section .main__about-article .main__about-text-container {
  position: absolute;
}

#main__section .main__about-article .main__about-text-container .main__about-h3 {
  font: normal normal 700 2rem var(--frauces);
  margin: 1rem 0;
}

#main__section .main__about-article .main__about-text-container .main__about-p {
  line-height: 1.8rem;
  padding: 1rem 1rem;
}

#main__section .main__about-article .cherry {
  color: var(--darkDesaturatedCyan);
}

#main__section .main__about-article .orange {
  color: var(--darkBlue);
}

#main__testimonial {
  margin-bottom: 4rem;
}

#main__testimonial .main__testimonial-h3 {
  font: normal normal 700 18px var(--frauces);
  letter-spacing: .1rem;
  color: var(--grayishBlue);
  text-transform: uppercase;
  margin: 4rem 0rem 2rem 0rem;
  text-align: center;
}

#main__testimonial .main__testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main__testimonial .main__card {
  margin: 2rem 1.1rem;
  line-height: 1.8rem;
  color: var(--veryDarkGrayishBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 375px;
}

#main__testimonial .main__card-p {
  margin: 1.5rem 0rem;
}

#main__testimonial .main__card-name {
  color: var(--veryDarkDesaturatedBlue);
  font: normal normal 700 18px var(--frauces);
  margin-bottom: .5rem;
}

#main__testimonial .main__card-position {
  color: var(--grayishBlue);
  font: normal normal 700 14px var(--frauces);
}

#main__testimonial .main__card-img {
  width: 60px;
  border-radius: 100%;
}

#footer {
  background-color: var(--darkModerateCyan);
  color: var(--darkDesaturatedCyan);
  text-align: center;
}

#footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#footer .footer__wrapper .footer__wrapper-image {
  width: 50%;
}

#footer .footer__bottom {
  padding: 3.5rem 0;
}

#footer .footer__bottom .footer__bottom-figure img {
  width: 50%;
}

#footer .footer__bottom .footer__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.5rem 0rem 0rem 0rem;
}

#footer .footer__bottom-icons {
  padding: 3rem 0;
}

#footer .footer__bottom-icons i {
  margin: 0rem .5rem;
}

@media screen and (min-width: 340px) {
  .main__about-text-container {
    margin-bottom: var(--porcentMargin);
  }
}
/*# sourceMappingURL=style.css.map */