:root {
  --softRed:hsl(7, 99%, 70%);
  --yellow:hsl(51, 100%, 49%);
  --darkDesaturatedCyan:hsl(167, 40%, 24%);
  --darkBlue:hsl(198, 62%, 26%);
  --darkModerateCyan:hsl(168, 34%, 41%);
  --veryDarkDesaturatedBlue:hsl(212, 27%, 19%);
  --veryDarkGrayishBlue:hsl(213, 9%, 39%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white:hsl(0, 0%, 100%);
  --barlow:'Barlow', sans-serif;
  --frauces:'Fraunces', serif;
  --bodyFontSize:18px;
  --titleFontSize:2.8rem;
  --arrowSize:20px;
  --arrowHeight:65px;
  --valueCalc:2%;
  --porcentMargin:10%;
  --hamburgerMenuPorcent:91%;
  --titlePosition:18%;
  --fontSizeArt:14px;
  --fontSizeArt-title:1.5rem;
}

@media screen and (min-width: 280px) {
  :root {
    --titleFontSize:2.4rem;
    --hamburgerMenuPorcent:86%;
  }
}

@media screen and (min-width: 320px) {
  :root {
    --titleFontSize:2.8rem;
    --arrowSize:25px;
    --arrowHeight:100px;
    --valueCalc:5%;
    --hamburgerMenuPorcent: 87%;
  }
}

@media screen and (min-width: 340px) {
  :root {
    --hamburgerMenuPorcent: 88%;
  }
}

@media screen and (min-width: 375px) {
  :root {
    --titleFontSize:2.8rem;
    --arrowSize:40px;
    --arrowHeight:126px;
    --valueCalc:3%;
    --hamburgerMenuPorcent: 89%;
  }
}

@media screen and (min-width: 425px) {
  :root {
    --hamburgerMenuPorcent: 90%;
  }
}

@media screen and (min-width: 548px) {
  :root {
    --titlePosition:34%;
    --titleFontSize:3.8rem;
    --hamburgerMenuPorcent: 93%;
    --porcentMargin:25%;
  }
}

@media screen and (min-width: 667px) {
  :root {
    --titlePosition: 53%;
    --titleFontSize: 4rem;
    --porcentMargin:0%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--bodyFontSize) var(--barlow);
  background-color: var(--white);
}

.image-of-background {
  width: 100%;
  height: 0;
  padding-top: 83%;
}

.image-of-footer {
  width: 50%;
  height: 0;
  padding-top: 50%;
}

.image_header {
  background: url(/images/mobile/image-header.jpg) no-repeat top center/100%;
  padding-top: 143%;
}

.image_transform {
  background: url(/images/mobile/image-transform.jpg) no-repeat top center/100%;
}

.image_stand-out {
  background: url(/images/mobile/image-stand-out.jpg) no-repeat top center/100%;
}

.image_graphic-design {
  background: url(/images/mobile/image-graphic-design.jpg) no-repeat top center/100%;
  padding-top: 159%;
}

.image_photography {
  background: url(/images/mobile/image-photography.jpg) no-repeat top center/100%;
  padding-top: 159%;
}

.image_galery-milkbottles {
  background: url(/images/mobile/image-gallery-milkbottles.jpg) no-repeat top center/100%;
}

.image_galery-orange {
  background: url(/images/mobile/image-gallery-orange.jpg) no-repeat top center/100%;
}

.image_galery-cone {
  background: url(/images/mobile/image-gallery-cone.jpg) no-repeat top center/100%;
}

.image_galery-sugar-cubes {
  background: url(/images/mobile/image-gallery-sugar-cubes.jpg) no-repeat top center/100%;
}

@media screen and (min-width: 667px) {
  .image-of-footer {
    width: 50%;
    height: 0;
    padding-top: 50%;
  }
  .image_header {
    background: url(/images/mobile/image-header.jpg) no-repeat top center/100%;
  }
  .image_transform {
    background: url(/images/desktop/image-transform.jpg) no-repeat top center/100%;
  }
  .image_stand-out {
    background: url(/images/desktop/image-stand-out.jpg) no-repeat top center/100%;
  }
  .image_graphic-design {
    background: url(/images/desktop/image-graphic-design.jpg) no-repeat top center/100%;
    padding-top: 83%;
  }
  .image_photography {
    background: url(/images/desktop/image-photography.jpg) no-repeat top center/100%;
    padding-top: 83%;
  }
  .image_galery-milkbottles {
    background: url(/images/desktop/image-gallery-milkbottles.jpg) no-repeat top center/100%;
  }
  .image_galery-orange {
    background: url(/images/desktop/image-gallery-orange.jpg) no-repeat top center/100%;
  }
  .image_galery-cone {
    background: url(/images/desktop/image-gallery-cone.jpg) no-repeat top center/100%;
  }
  .image_galery-sugar-cubes {
    background: url(/images/desktop/image-gallery-sugarcubes.jpg) no-repeat top center/100%;
  }
}

#header {
  display: -ms-grid;
  display: grid;
}

#header .header__nav, #header .header__title {
  position: absolute;
}

#header .header__nav {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#header .header__nav .icon-menu {
  color: var(--white);
  font-size: 1.699rem;
  padding: .5rem;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  border-radius: 100%;
}

#header .header__nav .icon-menu:active {
  background-color: var(--yellow);
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

#header .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  color: var(--veryDarkGrayishBlue);
  position: absolute;
  background-color: var(--white);
  width: var(--hamburgerMenuPorcent);
  z-index: 1;
  left: 0;
  top: 69px;
  opacity: 0;
  margin: 0rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 5px;
  border-top-right-radius: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

#header .header__nav ul li {
  margin: 1.3rem auto;
  cursor: pointer;
}

#header .header__nav ul #header__nav-btn-contact {
  padding: 1rem 1.8rem;
  color: var(--veryDarkDesaturatedBlue);
  font: normal normal 700 18px var(--frauces);
  background-color: var(--yellow);
  text-transform: uppercase;
  border-radius: 30px;
}

#header .header__nav ul::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 20px solid var(--white);
  border-left: 20px solid transparent;
  position: absolute;
  top: -20px;
}

#header .header__nav .animation {
  -webkit-transition: .7s;
  transition: .7s;
  top: 95px;
  opacity: 1;
}

#header .header__nav .header__logo {
  margin-top: 0.1rem;
}

#header .header__title {
  width: 100%;
  text-align: center;
  font: normal normal 700 var(--titleFontSize) var(--frauces);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: .3rem;
  top: var(--titlePosition);
}

#header .header__title::after {
  content: "";
  position: absolute;
  margin-top: calc(25% + var(--valueCalc));
  left: 0px;
  width: 100%;
  height: var(--arrowHeight);
  background: url(/images/icon-arrow-down.svg) top center/var(--arrowSize) no-repeat;
}

#main__section {
  color: var(--veryDarkGrayishBlue);
  text-align: center;
  display: -ms-grid;
  display: grid;
}

#main__section .main__section-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1.5rem;
}

#main__section .main__section-h3 {
  font: normal normal 700 2rem var(--frauces);
  color: var(--veryDarkDesaturatedBlue);
}

#main__section .main__section-p {
  line-height: 1.8rem;
  margin: 1rem 0rem;
}

#main__section .main__section-btn {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--veryDarkDesaturatedBlue);
  font-weight: bolder;
  position: relative;
}

#main__section .main__section-btn span {
  position: relative;
  z-index: 2;
  font: normal normal 700 18px var(--frauces);
  letter-spacing: .1rem;
}

#main__section .yellow::after {
  content: "";
  position: absolute;
  left: -4px;
  top: 16px;
  width: 141px;
  border: 4px solid var(--yellow);
  border-radius: 4px;
  opacity: .5;
}

#main__section .pink:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 16px;
  width: 141px;
  border: 4px solid var(--softRed);
  border-radius: 4px;
  opacity: .5;
}

#main__section .main__about-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main__section .main__about-article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#main__section .main__about-article .main__about-text-container {
  position: absolute;
}

#main__section .main__about-article .main__about-text-container .main__about-h3 {
  font: normal normal 700 2rem var(--frauces);
  margin: 1rem 0;
}

#main__section .main__about-article .main__about-text-container .main__about-p {
  line-height: 1.8rem;
  padding: 1rem 1rem;
}

#main__section .main__about-article .cherry {
  color: var(--darkDesaturatedCyan);
}

#main__section .main__about-article .orange {
  color: var(--darkBlue);
}

#main__testimonial {
  margin-bottom: 4rem;
}

#main__testimonial .main__testimonial-h3 {
  font: normal normal 700 18px var(--frauces);
  letter-spacing: .1rem;
  color: var(--grayishBlue);
  text-transform: uppercase;
  margin: 4rem 0rem 2rem 0rem;
  text-align: center;
}

#main__testimonial .main__testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main__testimonial .main__card {
  margin: 2rem 1.1rem;
  line-height: 1.8rem;
  color: var(--veryDarkGrayishBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 375px;
}

#main__testimonial .main__card-p {
  margin: 1.5rem 0rem;
}

#main__testimonial .main__card-name {
  color: var(--veryDarkDesaturatedBlue);
  font: normal normal 700 18px var(--frauces);
  margin-bottom: .5rem;
}

#main__testimonial .main__card-position {
  color: var(--grayishBlue);
  font: normal normal 700 14px var(--frauces);
}

#main__testimonial .main__card-img {
  width: 60px;
  border-radius: 100%;
}

#footer {
  background-color: var(--darkModerateCyan);
  color: var(--darkDesaturatedCyan);
  text-align: center;
}

#footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#footer .footer__wrapper .footer__wrapper-image {
  width: 50%;
}

#footer .footer__bottom {
  padding: 3.5rem 0;
}

#footer .footer__bottom .footer__bottom-figure img {
  width: 50%;
}

#footer .footer__bottom .footer__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.5rem 0rem 0rem 0rem;
}

#footer .footer__bottom-icons {
  padding: 3rem 0;
}

#footer .footer__bottom-icons i {
  margin: 0rem .5rem;
}

@media screen and (min-width: 340px) {
  .main__about-text-container {
    margin-bottom: var(--porcentMargin);
  }
}

@media screen and (min-width: 667px) {
  #header .header__nav .icon-menu {
    display: none;
  }
  #header .header__nav ul {
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    position: initial;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: initial;
    transition: initial;
  }
  #header .header__nav ul li {
    margin: .5rem 0rem .5rem 2rem;
    color: var(--white);
  }
  #header .header__nav ul #header__nav-btn-contact {
    background-color: var(--white);
    -webkit-transition: .5s;
    transition: .5s;
  }
  #header .header__nav ul #header__nav-btn-contact:hover {
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--white);
  }
  #header .header__nav ul::before {
    content: none;
  }
  #main__section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'art-transform img-transform' 'img-stand art-stand';
  }
  #main__section .main__section-article {
    padding: 1.5rem 1.5rem;
    font-size: var(--fontSizeArt);
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main__section .main__section-article .main__section-h3 {
    font: normal normal 700 var(--fontSizeArt-title) var(--frauces);
  }
  #main__section .main__about-article .main__about-text-container .main__about-h3 {
    font-size: var(--fontSizeArt-title);
    margin: 0;
  }
  #main__section .main__about-article .main__about-text-container .main__about-p {
    font-size: var(--fontSizeArt);
  }
  #main__section .image_transform {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img-transform;
  }
  #main__section .image_stand-out {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img-stand;
  }
  #main__section .art-transform {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: art-transform;
  }
  #main__section .art-stand {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: art-stand;
  }
  #footer .footer__wrapper .image-of-footer {
    width: 25%;
    padding-top: 31%;
  }
}

/*Small divices at landscape 576px
Mediun divices less than 768px
Large divices 992px
Extra large divices 1200px
Land scape divices sizes: 568px, 667px,736px 812px
up of 768 and laptops divices
*/
/*# sourceMappingURL=style.css.map */